
    <header>
      <h1 style="display: none;">Mozi</h1>
      <a href="/"><img src="icons/logo.svg" alt="logo"></a> 
      <nav>
        <ul>
          <li class="navItem"><a href="products.html">Products</a> </li>
          <li class="navItem"><a href="about.html"> About us</a></li>
          <li class="navItem"><a href="contact.html">Contact</a> </li>
          <li class="navItem">
            <a href="career.html">
              <button class="btn">We're hiring</button>
            </a>
          </li>
        </ul>
      </nav>
    </header>
 
